root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{ts,tsx,js,mjs,cjs,vue,json,yml,yaml,scss,css,html}]
indent_size = 2

[*.{cpp,hpp,cu,cuh,h,c}]
indent_size = 4

[*.py]
indent_size = 4
max_line_length = 100

[*.sql]
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.{vert,frag,comp,geom,tesc,tese}]
indent_size = 4
